<div class="container">
<%= form_for(:dish, url: dishs_path)  do |f| %>
  <div class="from-group">
    <%= f.label :Name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="from-group">
    <%= f.label :Price %>
    <%= f.number_field :price, class: 'form-control' %>
  </div>
  <div class="from-group">
    <%= f.label :Origin %>
    <%= f.text_field :origin, class: 'form-control' %>
  </div>

  <%= f.submit "Create", class: "btn btn-primary" , style: "margin-top:20px;"%>

<% end %>

</div>
